@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #2a2d34;
  --blue: #009ddc;
  --orange: #f25430;
  --green: #009b72;
  --purple: #6761a8;
  --dark-purple: #292743;
  --slate: #8892b0;
}

@layer base {
  body {
    @apply bg-raisin-black;
  }
}

@layer components {
  .blue-bullet::before {
    content: "▹";
    color: var(--blue);
  }
  .wrapper {
    border-radius: 50%;
    box-shadow: 0 10px 30px -15px var(--blue);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--blue);
  }
  .wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--black);
    mix-blend-mode: screen;
    border-radius: 50%;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--blue);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    top: 1px;
    left: 1px;
    z-index: -1;
  }
  .project-description {
    box-shadow: 0 10px 30px -15px var(--dark-purple);
  }
  .project-image {
    box-shadow: 0 10px 30px -15px var(--dark-purple);
  }
  .project-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-color: var(--black);
    mix-blend-mode: screen;
  }
  .image-wrapper {
    filter: grayscale(100%) contrast(1) brightness(80%);
  }
}
